<div class="container">

    <ng-template #errors>
        <div class="text-danger"> {{ errorMessage }} </div>
    </ng-template>

    <div class="card" *ngIf="products; else errors">
        <div class="card-header">Products List</div>
        <div class="card-body">

            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
                <div class="input-group">
                    <label class="input-group-text">Keyword:</label>
                    <input type="text" class="form-control" formControlName="keyword"/>
                    <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th><th>Name</th><th>Price</th><th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                        <td>{{ p.id }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td><i *ngIf="p.promotion==true" class="bi bi-heart-fill text-success"></i></td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handleSetPromotion(p)" [ngClass]="p.promotion==true ? 'btn-danger' : 'btn-success'" class="btn btn-success">
                                <span *ngIf="p.promotion==true">Promo Off</span>
                                <span *ngIf="p.promotion==false">Promo On</span>
                            </button>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(this.totalPages); let i=index">
                    <a (click)="gotoPage(i)" [ngClass]="i == currentPage ? 'btn-info' : 'btn-outline-info'" class="btn ms-1 mt-1"> {{ i }} </a>
                </li>
            </ul>

        </div>
    </div>
</div>
